* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f1f5f9;
  color: #111;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #020b26, #dc1e573d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 50px;
  border-radius: 25px;
  text-align: center;
  color: rgb(29, 15, 125);
  animation: pop 1.5s ease;
}

.profile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00ff55;
  margin-bottom: 15px;
}

.glass span {
  color: #ffd700;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #3cff00;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #4f46e5;
}

.dark {
  background: #020617;
  color: white;
}

.dark h2 {
  color: #c28616;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  padding: 25px;
  border-radius: 20px;
  color: white;
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.05);
}

/* SKILLS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: #6366f1;
  color: white;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  background: #020617;
  color: white;
  padding: 20px;
}

/* ANIMATIONS */
@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
